<!-- Publications Section -->
<section class="hero has-background-white-ter" id="research" style="padding-top: 100px; padding-bottom: 50px;">
  <div class="container" style="width: 100%; margin: auto;">
    <h1 class="title is-size-1 has-text-centered"><u>Latest Research &amp; News</u></h1>
    <br>
      <div style="display: flex; justify-content: center;">
        <table style="border-collapse: collapse; text-align: left;">
          <tbody>
            <tr>
              <td style="padding-right: 15px; font-weight: bold; white-space: nowrap;">Mar'25:</td>
              <td>7 Workshop Papers accepted at ICLR</td>
            </tr>
            <tr>
              <td style="padding-right: 15px; font-weight: bold; white-space: nowrap;">Feb'25:</td>
              <td>3 Fast-Track Papers accepted at AABI</td>
            </tr>
            <tr>
              <td style="padding-right: 15px; font-weight: bold; white-space: nowrap;">Jan'25:</td>
              <td>3 Papers accepted at ICLR</td>
            </tr>
            <tr>
              <td style="padding-right: 15px; font-weight: bold; white-space: nowrap;">Jan'25:</td>
              <td>2 Papers accepted at AIStats (1 Oral)</td>
            </tr>
          </tbody>
        </table>
      </div>
        <br>
        
        <h2 class="title is-size-3 has-text-centered">Recent Publications</h2>
        <br>
        
        <!-- Second List -->
        <div class="columns is-multiline is-centered">
          <div class="column is-full">
            <ul style="list-style: none; padding: 0; text-align: center;">
              <li style="margin-bottom: 1em;">Microcanonical Langevin Ensembles: Advancing the Sampling of Bayesian Neural Networks <strong>ICLR 2025</strong> (<a href="https://arxiv.org/pdf/2502.06335" target="_blank">ArXiv</a>)</li>
              <li style="margin-bottom: 1em;">Deep Weight Factorization: Sparse Learning Through the Lens of Artificial Symmetries <strong>ICLR 2025</strong> (<a href="https://arxiv.org/pdf/2502.02496" target="_blank">ArXiv</a>)</li>
              <li style="margin-bottom: 1em;">Calibrating LLMs with Information-Theoretic Evidential Deep Learning <strong>ICLR 2025</strong> (<a href="https://arxiv.org/pdf/2502.06351" target="_blank">ArXiv</a>)</li>
              <li style="margin-bottom: 1em;">Additive Model Boosting: New Insights and Path(ologie)s <strong>AIStats 2025</strong> (<a href="https://arxiv.org/pdf/2503.05538" target="_blank">ArXiv</a>)</li>
              <li style="margin-bottom: 1em;">Paths and Ambient Spaces in Neural Loss Landscapes <strong>AIStats 2025</strong> (<a href="https://arxiv.org/pdf/2503.03382" target="_blank">ArXiv</a>)</li>
              <li style="margin-bottom: 1em;">A Functional Extension of Semi-Structured Networks <strong>NeurIPS 2024</strong> (<a href="https://arxiv.org/pdf/2410.05430" target="_blank">ArXiv</a>)</li>
            </ul>
          </div>
        </div>
    <br>
    <p class="has-text-centered">Further publications can found on <a href="https://scholar.google.de/citations?hl=de&user=_DYguksAAAAJ&view_op=list_works&sortby=pubdate" target="_blank">Google Scholar</a>.</p>
    <br>
  </div>
</section>
