<!-- Publications Section -->
<section class="hero has-background-white-ter" id="research" style="padding-top: 100px; padding-bottom: 50px;">
  <div class="container" style="width: 100%; margin: auto;">
    <h1 class="title is-size-1 has-text-centered"><u>Publications</u></h1>
    <br>
    <p class="has-text-centered">We try to keep our publications up to date on <a href="https://scholar.google.de/citations?user=_DYguksAAAAJ" target="_blank">Google Scholar</a>.</p>
    <br>
    <h2 class="title is-size-3 has-text-centered">Recent Notable Papers</h2>
    <br>
    <div class="columns is-multiline is-centered">
      <!-- List of Publications -->
      <div class="column is-full">
        <ul>
        <li style="margin-bottom: 1em;">Scalable Higher-Order Tensor Product Spline Models <strong>AIStats 2024</strong> (<a href="https://arxiv.org/abs/2402.01090" target="_blank">ArXiv</a>)</li>
        <li style="margin-bottom: 1em;">Bayesian Semi-structured Subspace Inference <strong>AIStats 2024</strong> (<a href="https://arxiv.org/abs/2401.12950" target="_blank">ArXiv</a>)</li>
        <li style="margin-bottom: 1em;">Position Paper: Bayesian Deep Learning in the Age of Large-Scale AI <strong>Position Paper</strong> (<a href="https://arxiv.org/abs/2402.00809" target="_blank">ArXiv</a>)</li>
        <li style="margin-bottom: 1em;">Constrained Probabilistic Mask Learning for Task-specific Undersampled MRI Reconstruction <strong>WACV 2024</strong> (<a href="https://arxiv.org/abs/2305.16376" target="_blank">ArXiv</a>)</li>
          <li style="margin-bottom: 1em;">Smoothing the Edges: A General Framework for Smooth Optimization in Sparse Regularization using Hadamard Overparametrization (<a href="https://arxiv.org/abs/2307.03571" target="_blank">ArXiv</a>)</li>
          <li style="margin-bottom: 1em;">Towards Efficient MCMC Sampling in Bayesian Neural Networks by Exploiting Symmetry <strong>ECML-PKDD 2023 (Best-Paper Research Track</strong>, <a href="https://arxiv.org/abs/2304.02902" target="_blank">ArXiv</a>)</li>
          <li style="margin-bottom: 1em;">A New PHO-rmula for Improved Performance of Semi-Structured Networks <strong>ICML 2023</strong> (<a href="https://arxiv.org/abs/2306.00522" target="_blank">ArXiv</a>)</li>
          <li style="margin-bottom: 1em;">Cascaded Latent Diffusion Models for High-Resolution Chest X-ray Synthesis <strong>PAKDD 2023</strong> (<a href="https://arxiv.org/abs/2303.11224" target="_blank">ArXiv</a>)</li>
          <li style="margin-bottom: 1em;">Approximate Bayesian Inference with Stein Functional Variational Gradient Descent <strong>ICLR 2023</strong> (<a href="https://openreview.net/forum?id=a2-aoqmeYM4" target="_blank">OpenReview</a>)</li>
          <li style="margin-bottom: 1em;">Frequentist Uncertainty Quantification in Semi-Structured Neural Networks <strong>AIStats 2023</strong> (<a href="https://proceedings.mlr.press/v206/dorigatti23a/dorigatti23a.pdf" target="_blank">MLR</a>)</li>
          <li style="margin-bottom: 1em;">Semi-Structured Distributional Regression <strong>The American Statistician (2023)</strong> (<a href="https://arxiv.org/pdf/2002.05777.pdf" target="_blank">ArXiv</a>)</li>
        </ul>
      </div>
    </div>
    <br>
  </div>
</section>
