<!-- Publications Section -->
<section class="hero has-background-white-ter" id="research" style="padding-top: 100px; padding-bottom: 50px;">
  <div class="container" style="width: 100%; margin: auto;">
    <h1 class="title is-size-1 has-text-centered"><u>Latest Research &amp; News</u></h1>
    <br>
    <div class="columns is-multiline is-centered">
      <div class="column is-full has-text-centered">
        <ul style="list-style: none; padding: 0;">
          <li style="margin-bottom: 1em;">March 2025 &gt; 7 Workshop Papers accepted at ICLR</li>
          <li style="margin-bottom: 1em;">February 2025 &gt; 3 Fast-Track Papers accepted at AABI</li>
          <li style="margin-bottom: 1em;">January 2025 &gt; 3 Papers accepted at ICLR</li>
          <li style="margin-bottom: 1em;">January 2025 &gt; 2 Papers accepted at AIStats (including 1 Oral presentation)</li>
        </ul>
      </div>
    </div>
    <br>
    <h2 class="title is-size-3 has-text-centered">Recent Publications</h2>
    <br>
    <div class="columns is-multiline is-centered">
      <!-- List of Publications -->
      <div class="column is-full">
        <ul>
        <li style="margin-bottom: 1em;">Microcanonical Langevin Ensembles: Advancing the Sampling of Bayesian Neural Networks <strong>ICLR 2025</strong> (<a href="https://arxiv.org/pdf/2502.06335" target="_blank">ArXiv</a>)</li>
        <li style="margin-bottom: 1em;">Deep Weight Factorization: Sparse Learning Through the Lens of Artificial Symmetries <strong>ICLR 2025</strong> (<a href="https://arxiv.org/pdf/2502.02496" target="_blank">ArXiv</a>)</li>
        <li style="margin-bottom: 1em;">Calibrating LLMs with Information-Theoretic Evidential Deep Learning <strong>ICLR 2025</strong> (<a href="https://arxiv.org/pdf/2502.06351" target="_blank">ArXiv</a>)</li>
        <li style="margin-bottom: 1em;">Additive Model Boosting: New Insights and Path(ologie)s <strong>AIStats 2025</strong> (<a href="https://arxiv.org/pdf/2503.05538" target="_blank">ArXiv</a>)</li>
        <li style="margin-bottom: 1em;">Paths and Ambient Spaces in Neural Loss Landscapes <strong>AIStats 2025</strong> (<a href="https://arxiv.org/pdf/2503.03382" target="_blank">ArXiv</a>)</li>
        <li style="margin-bottom: 1em;">Preventing Sensitive Information Leakage via Post-hoc Orthogonalization with Application to Chest Radiograph Embeddings <strong>PAKDD 2025</strong> (<a href="https://arxiv.org/abs/2311.01349" target="_blank">ArXiv</a>)</li>
        <li style="margin-bottom: 1em;">Post-Training Network Compression for 3D Medical Image Segmentation: Reducing Computational Efforts via Tucker Decomposition <strong>Radiology: AI</strong> (<a href="https://arxiv.org/pdf/2404.09683" target="_blank">ArXiv</a>)</li>
        <li style="margin-bottom: 1em;">A Functional Extension of Semi-Structured Networks <strong>NeurIPS 2024</strong> (<a href="https://arxiv.org/pdf/2410.05430" target="_blank">ArXiv</a>)</li>
        </ul>
      </div>
    </div>
    <br>
    <p class="has-text-centered">Further publications can found on <a href="https://scholar.google.de/citations?hl=de&user=_DYguksAAAAJ&view_op=list_works&sortby=pubdate" target="_blank">Google Scholar</a>.</p>
    <br>
  </div>
</section>
