<section class="hero has-text-centered" id="sponsors" style="padding-top: 100px; padding-bottom: 100px;">
<div class="container">
    <p>
    <h4 class="subtitle" style="font-size: 1rem;">
    We are grateful for funding from LMU Munich, <a href="https://www.dfg.de/en">DFG</a>, <a href="https://www.bmbf.de/bmbf/de/home/home_node.html">BMBF</a> and the <a href="https://mcml.ai/">MCML.
    </h4>
    </a>
    <br>
<figure class="fourth">
  <img src="{{ site.url }}{{ site.baseurl }}/assets/images/logopic/lmu.png" style="width: 100px">
  <img src="{{ site.url }}{{ site.baseurl }}/assets/images/logopic/logo_dfg.png" style="width: 112px">
  <img src="{{ site.url }}{{ site.baseurl }}/assets/images/logopic/bmbf.svg" style="width: 140px">
  <img src="{{ site.url }}{{ site.baseurl }}/assets/images/logopic/MCML_Logo.jpg" style="width: 300px">
</figure>
</p>
</div>
</section>
